body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 3rem;
}

.presentations {
  padding: 0;
}

.presentations li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
}

.tools {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 90vw;
  padding: 1rem 5vw;
  transition: opacity 250ms;
}

.tools>* {
  text-align: left;
}

.chapter {
  display: flex;
  height: 100vh;
}

.chapter section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
  height: 80vh;
  padding: 10vh 10vw;
}

.chapter section h2 {
  margin-bottom: 8rem;
}
.icon {
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  font-size: 0;
  width: 2rem;
  height: 2rem;
}

body.show {
  --font-size: 48px;
  overflow: hidden;
}

.titles>* {
  display: none;
  color: #1f8aad;
}

.icon[disabled] {
  opacity: 0.15;
}

.restart {
  background-image: url(/icons/home.svg);
}
.next {
  background-image: url(/icons/nextSlide.svg);
}

.previous {
  background-image: url(/icons/previousSlide.svg);
}

.nnext {
  background-image: url(/icons/nextChapter.svg);
}

.pprevious {
  background-image: url(/icons/previousChapter.svg);
}